<%= form_with model: @task ,local: true do |form| %>

    <p>タスク名</p>
    <p><%= form.text_field :name %></p>
    
    <p>詳細</p>
    <p><%= form.text_area :detail %></p>

    <p>期限（※yyyy-mm-dd）</p>
    <p><%= form.text_field :date %></p>

    <%= form.submit "タスクを修正する" %>
    <% end %>