<%= form_with model: @task ,local: true do |form| %>

  <% if @task.errors.any? %>
  <div id="error_explanation">
    <h2><%= @task.errors.count %>件のエラーがあります。</h2>
    <ul>

    <% @task.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

  <p>タスク名</p>
  <p><%= form.text_field :name %></p>
  
  <p>詳細</p>
  <p><%= form.text_area :detail %></p>

  <p>期限（※yyyy-mm-dd）</p>
  <p><%= form.text_field :date %></p>

  <p><%= form.label :状況 %>
  <%= form.select :status, Task.statuses.keys.map {|k| [t("enums.task.status.#{k}"), k]} %></p>

  <p><%= form.label :優先度 %>
  <%= form.select :priority, Task.priorities.keys.map {|k| [t("enums.task.priority.#{k}"),k]} %></p>

  <% Label.all.each do |label| %>
    <%= form.check_box :label_ids, { multiple: true, checked: label[:checked], disabled: label[:disabled], include_hidden: false }, label[:id] %>
    <%= form.label :label_ids, label.title, value: label[:id] %>
  <% end %>


  <%= form.submit "タスクを作成する" %>
  <% end %>