<%= form_with model: @task ,local: true do |form| %>

  <% if @task.errors.any? %>
  <div id="error_explanation">
    <h2><%= @task.errors.count %>件のエラーがあります。</h2>
    <ul>

    <% @task.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

  <p>タスク名</p>
  <p><%= form.text_field :name %></p>
  
  <p>詳細</p>
  <p><%= form.text_area :detail %></p>

  <%= form.submit "タスクを作成する" %>
  <% end %>